. {
	font-size = 12px;
	font-family: "Times New Roman", serif;
}
body{
	background: white;
	margin-left: 10%;
}

header {
	display:none;
}
/*må ordne page-break*/

footer {
	display:none;
	
}

aside {
	display:none;
}

#bestemproduct{
	color: grayscale; /*stemmer dette*/
	
}

main {
	float: none;
}