

/* smaller devices */
@media only screen and (min-width :480px){
	#sale{
	width: 20%;
	height: 20%;
	}
	.imgSection{
	
	width: 70%;
	}
	nav{
		width: 100%;
	}
	#txt4{
		width: 15%
	}
	#txt3{
		width: 22%
	}
	#txt2{
		width: 15%
	}
 }
 
 
/*	Small	Devices,	Tablets	*/
@media only screen and (min-width : 670px){
	#sale{
	width: 50%;
	height: 20%;
 }
	.imgSection{
	width: 50%;
	}
	nav{
		width: 100%;
	}
	#txt4{
		width: 15%
	}
	#txt3{
		width: 22%
	}
	#txt2{
		width: 15%
	}
}

/*	Medium	Devices,	Desktops	*/
@media only screen and (min-width : 1024px){
body{
	color: #ddd4d4;
	margin: 0;
	padding: 0;
	padding-bottom: 50px;
    /*line-height: 2;*/
    /*background-attachment: fixed;*/
   /* background-size: 100%;*/
}
header{
	background-color: black;
	height: 20%;
	
	
}
h1{
	text-align: center;
	color: white;
	font-family: Impact, Charcoal, sans-serif;
	font-size: 300%;
    margin-top: 0px;
    margin-bottom: 0px;

	
}
.logoslide {
	
	width: 60%;
	
	display: block;
	margin: auto;
	border: 6px solid white;
	}
/*#logo{
	width: 800px;
	height: 300px;
	display: block;
	margin: auto;
	border: 30px solid black;
	
}*/
#sale{
	width: 40%;
	height: 20%;
	display: block;
	margin: auto;
	margin-top: 40px;
	margin-bottom: 30px;
}
#sale:hover{
	width: 50%;
	height: 25%;
	 
}
.imgSection:hover{
	 opacity: 0.5;
    filter: alpha(opacity=50);
}
	

.imgSection{
	width: 22%;
	height: 240px;
	float: left;
	margin-left: 110px;
	border: 2px solid black;
	margin-top: 30px;
	margin-bottom: 30px;
}

#txt{
	background-color: rgba(0, 0, 0, 0.74);;
	border: 2px solid black;
	padding: 40px 200px 40px 200px;
	
}

#txt2{
	background-color: black;
	border: 2px solid black;
	padding: 10px 10px 10px 10px;
	float:left;
	color: white;
	font-family: Sans-serif;
	width: 23%;
	margin-top: 20px;
	margin-left: 6%;
	
}
#txt3{
	background-color: black;
	border: 2px solid black;
	padding: 10px 10px 10px 10px;
	float: left;
	color: white;
	font-family: Sans-serif;
	width: 23%;
	margin-top: 20px;
	margin-left: 6%;
	
}
#txt4{
	background-color: black;
	border: 2px solid black;
	padding: 10px 10px 10px 10px;
	float:right;
	color: white;
	font-family: Sans-serif;
	width: 23%;
	margin-top: 20px;
	margin-right: 7%;
	
}

  
nav{
	width: 100%;
	height: auto;
	/*border: 1px solid yellow;
	border-style: none none dotted none;*/
	margin-top: 10px;
	font-family: Impact, Charcoal, sans-serif;
	letter-spacing: 2px;
	/*display: inline-block;*/
	-webkit-transition: all 1s ease;
}
/*box*/
nav ul li{
	display: inline-block;
	/*border: 1px groove #82D2FB;
	border-radius: 8px;*/
	padding: 1px 1px;
	background-color: black;
	margin: auto;
	margin-right: 5px;
}
/*text box*/
nav ul li a{
	color: white;
	text-decoration: none;
	-webkit-transition: all 1s ease;
	border: solid;
	padding: 7px;
}
nav ul li:hover{
	text-shadow: 0 0 20px white;
	font-size: 18px;
}

p{
	color: white;
	font-family: Sans-serif;
}





.btn2{
	margin-bottom: 5px;
	float: right;
	background-color: white;
	border: 2px solid black;
	font-family: Impact, Charcoal, sans-serif;
	letter-spacing: 2px;
}

#input{
	float: right;
	margin-top: 10px;
	background-color: white;
	border: 2px solid black;
	
}
#btn{
	
	float: right;
	margin-top: 10px;
	margin-bottom: 5px;
	background-color: white;
	border: 2px solid black;
	font-family: Impact, Charcoal, sans-serif;
	letter-spacing: 2px;
}

footer{
	margin-top: 50px;
	
	clear: both;
	text-align: right;
	background: rgba(2, 2, 2, 0.79);
	padding: 10px;
	color: white;	
	font-family: Impact, Charcoal, sans-serif;
	font-size: 10px;
}

 }
